body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  min-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
  max-width: 100%;
}

@media not screen and (min-width: 768px) {
  .nav-desktop,
  .address,
  .mobile-icon-menu {
    display: none;
  }
}

.top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.top-line .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  gap: 0px;
  display: block;
  margin-right: 76px;
}
.logo-color {
  color: #2e2f42;
}

.navigation {
  justify-content: flex-start;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.link-main-page {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-main-page.current {
  position: relative;
}

.link-main-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  opacity: 0;
  transition: opacity color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-main-page:hover:after,
.link-main-page:focus:after,
.link-main-page.current::after {
  opacity: 1;
}

.link-main-page:hover,
.link-main-page:focus,
.link-main-page.current {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-row {
  list-style-type: none;
  text-decoration: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.link-contacts {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

@media not screen and {
  .btn-menu {
    display: none;
  }
}

.btn-menu {
  border: none;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon-menu {
  display: block;
}

.btn-menu:hover,
.btn-menu:focus {
  background-color: #fff;
}

.nav-desktop main {
  flex-grow: 1;
}
.section-hero-image {
  background-color: #2e2f42;
  width: 100%;

  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.top .container {
  justify-content: center;
  display: flex;
}

.top {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.top-button {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-about-us {
  margin: 0 auto;
}
.about-us {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding: 120px 0;
  margin: 0 auto;
  width: 1128px;
}
.about-us-item {
  width: calc((100% - 72px) / 4);
}

.icon-about {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 0;
  max-width: 264px;
  max-height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.three-line-name {
  text-align: center;
  margin-bottom: 8px;
}
.three-line {
  margin-bottom: 8px;
}
.one {
  background-color: #f4f4fd;
  width: 100%;
}

.text-position {
  text-align: center;
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.name {
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.container-card {
  padding: 32px 0;
}

.icon-social-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;

  list-style-type: none;
}

.icon-social-card .link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-card .link-social:hover,
.icon-social-card .link-social:focus {
  background-color: #404bbf;
}

.row {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
  width: 1128px;
}
.icon-social {
  fill: #f4f4fd;
}

.row-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sumb {
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-sumb {
  font-weight: 400;
  font-size: 16px;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row-item:hover .overlay-sumb {
  transform: translateY(0);
}

.row-item:focus .overlay-sumb {
  transform: translateY(0);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.row-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  position: relative;
}

.row-item:hover,
.row-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.foot-page {
  display: flex;
  background: #2e2f42;
  padding: 100px 0;
}

.foot-page .container {
  display: flex;
  align-items: baseline;
}

.container-logo {
  margin-right: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}
.logo-color-two {
  color: #f4f4fd;
}
.text-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  flex-basis: 100px;
  width: 264px;
}

.social-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.icon-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  padding: 8px 0;
  list-style-type: none;
}

.icon-social-footer .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-footer .link-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-footer .link-social:hover,
.icon-social-footer .link-social:focus {
  background-color: #31d0aa;
}

.icon-social-footer .icon-social {
  fill: #f4f4fd;
}

.container-link {
  width: 208px;
  align-items: center;
  margin-right: 80px;
}

.container-email {
  width: 453px;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.text-plh {
  background: transparent;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.text-plh::placeholder {
  color: #ffffff;
}

.btn-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
  fill: #fff;
  margin-left: 16px;
}

.feedback_form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 360px;
  height: 336px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: rgba(46, 47, 66, 0.4);
  max-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  padding: 0;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover > .icon-close,
.btn-close:focus > .icon-close {
  fill: #ffffff;
}

.main-model-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.feedback_form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 360px;
  height: 336px;
}

.form-label {
  display: block;
  flex-direction: column;
  position: relative;
  margin-bottom: 4px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-input {
  position: relative;
}

.div-form {
  position: relative;
  margin-bottom: 8px;
  gap: 8px;
}

.input-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus-within {
  border-color: #4d5ae5;
}

.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus-within + .icon-form {
  fill: #4d5ae5;
}

.container-comment {
  margin-bottom: 16px;
}

.model-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-textarea:focus-within {
  border-color: #4d5ae5;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 4px;
  width: 360px;
  height: 16px;
  margin-bottom: 24px;
}

.visually-hidden:checked + .checkbox-text > .model-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.icon-checkbox {
  fill: #f4f4fd;
  border-radius: 2px;
}

.model-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-text {
  color: #4d5ae5;
}

.btn-form {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 24px auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media not screen and (min-width: 768px) {
  .mobile-menu-overlay {
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 320px;
  height: 640px;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-mobile {
  background-color: #ffffff;
  max-width: 320px;
  height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-mobile {
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  padding: 0;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile {
  margin-bottom: 168px;
  margin-top: 72px;
}

.navigation-mobile {
  display: flex;
  font-size: 36px;
  flex-direction: column;

  line-height: 111%;
  letter-spacing: 0.02em;
  gap: 40px;
}
.link-menu-mobile {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu-mobile:hover,
.link-menu-mobile:focus {
  color: #404bbf;
}

.contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  padding-bottom: 24px;
}

.icon-social-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
  margin-top: 24px;
}

.icon-social-mobile .link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-mobile .link-social:hover,
.icon-social-mobile .link-social:focus {
  background-color: #404bbf;
}
